* {
    box-sizing: border-box;
}

.user-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    
}

.user-form > input{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin: 30px 0;
    text-align: center;
    width: 50%;
    height: 30px;
}

h2 {
    text-align: center;
}

#show-create-user-error {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}